<a href="https://colab.research.google.com/github/jdiazram/Python_deep_Learnig_book/blob/master/9_1_Autos_MPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**9.1 Auto MPG**

##**9.2 Preparaci√≥n de los datos**

In [0]:
%tensorflow_version 2.x
import tensorflow as tf

print(tf.__version__)#version de tensorflow
#librerias a importar
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

2.2.0-rc3

##**9.2.1 Obtener los datos**

In [0]:
#descargar datos
dataset_path = tf.keras.utils.get_file("auto-mpg.data", "https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")
print(dataset_path)

/root/.keras/datasets/auto-mpg.data

##**9.2.2 Manipular datos - Pandas**

In [0]:
column_names = ['MPG','Cylinders','Displacement','Horsepower','Weight','Acceleration','Model Year','Origin']
raw_dataset = pd.read_csv(dataset_path, names = column_names, na_values="?", comment='\t', sep=" ", skipinitialspace=True)
dataset = raw_dataset.copy()
dataset.tail()

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
393  27.0          4         140.0  ...          15.6          82       1
394  44.0          4          97.0  ...          24.6          82       2
395  32.0          4         135.0  ...          11.6          82       1
396  28.0          4         120.0  ...          18.6          82       1
397  31.0          4         119.0  ...          19.4          82       1

[5 rows x 8 columns]

##**9.2.3 Datos faltantes**

In [0]:
print(dataset.isna().sum())
#Horsepower tiene 6 datos faltantes de los 397 

#para este caso simple, se borran las filas con valores faltantes
dataset = dataset.dropna()
print(dataset.isna().sum())

MPG             0
Cylinders       0
Displacement    0
Horsepower      6
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64
MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

##**9.2.4 Datos categoricos**

In [0]:
#origin es categotico -> one-hot encoding

Origin = dataset.pop('Origin') # pop: extrae y elimina
dataset['USA'] = (Origin == 1)*1.0
dataset['Europa'] = (Origin == 2)*1.0
dataset['Japan'] = (Origin == 3)*1.0

dataset.tail()

      MPG  Cylinders  Displacement  Horsepower  ...  Model Year  USA  Europa  Japan
393  27.0          4         140.0        86.0  ...          82  1.0     0.0    0.0
394  44.0          4          97.0        52.0  ...          82  0.0     1.0    0.0
395  32.0          4         135.0        84.0  ...          82  1.0     0.0    0.0
396  28.0          4         120.0        79.0  ...          82  1.0     0.0    0.0
397  31.0          4         119.0        82.0  ...          82  1.0     0.0    0.0

[5 rows x 10 columns]

##**9.2.5 Separar datos para entrenar y evaluar**

In [0]:
#datos para entrenamiento
train_dataset = dataset.sample(frac=0.8, random_state=1) #80% de los datos para entrenamiento y se asegura reproducibilidad random_state=1
#datos para test
test_dataset = dataset.drop(train_dataset.index)# se almacenan los datos restantes en test_dataset

#y se elimina la columna que se quiere predecir MPG y se guardan en train_labels y test_labels
train_labels = train_dataset.pop('MPG')
test_labels = test_dataset.pop('MPG')

##**9.2.6 Normalizar los datos**

In [0]:
#inspeccionar
train_stats = train_dataset.describe()
train_stats = train_stats.transpose() # se cambia filas por columnas para visualizar mejor los datos
train_stats

              count         mean         std  ...     50%      75%     max
Cylinders     314.0     5.490446    1.703662  ...     4.0     8.00     8.0
Displacement  314.0   195.472930  105.269835  ...   151.0   265.75   455.0
Horsepower    314.0   104.108280   38.153395  ...    95.0   125.00   225.0
Weight        314.0  2972.388535  844.377092  ...  2818.5  3608.00  4997.0
Acceleration  314.0    15.509236    2.797765  ...    15.5    17.00    24.6
Model Year    314.0    76.012739    3.678775  ...    76.0    79.00    82.0
USA           314.0     0.630573    0.483420  ...     1.0     1.00     1.0
Europa        314.0     0.178344    0.383413  ...     0.0     0.00     1.0
Japan         314.0     0.191083    0.393782  ...     0.0     0.00     1.0

[9 rows x 8 columns]